<html>
<head>
    <title>Madlib - Celebrity Sighting</title>
</head>
<body>
    <p>One day in {{ city }}, {{ name }} ran into {{ celebrity }} on the street. They
        {{ adverb }} {{ verb }} a 

        {%for col in color %}
            {% if col == color[-1] %}
                {{ col }}
            {% elif col == color[-2] %}
                {{ col }}, and
            {% else %}
                {{ col }},
            {% endif %}
        {% endfor%}

         {{ noun }} and then {{ adj }} {{ celebrity }} 
        said, "You are so {{ compliment }}!"

</p>

    <p></p>
</body>
</html>